<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>kdiskmark</vendor>
<vendor_url>https://github.com/JonMagon/KDiskMark</vendor_url>
<icon_name>kdiskmark</icon_name>
   <action id="dev.jonmagon.kdiskmark.helper.init" >
      <description>Run privileged KDiskMark helper</description>
      <message>Authentication is required to benchmark storage device</message>
      <message xml:lang="cs">Pro testování úložiště je vyžadováno ověření</message>
      <message xml:lang="de">Legitimation ist zum Benchmarking des Speichergeräts erforderlich</message>
      <message xml:lang="es_ES">Se requiere autenticación para diagnosticar el dispositivo de almacenamiento</message>
      <message xml:lang="es_MX">Se requiere autenticación para evaluar el dispositivo de almacenamiento</message>
      <message xml:lang="fr">Authentification requise pour mesurer la performance du périphérique de stockage</message>
      <message xml:lang="hi">स्टोरेज डिवाइस बेंचमार्क करने के लिए प्रमाणीकरण आवश्यक है</message>
      <message xml:lang="hu">Hitelesítés szükséges a tárolóeszköz teljesítményértékeléséhez</message>
      <message xml:lang="it">È richiesta l'autenticazione per eseguire il benchmark del dispositivo di archiviazione</message>
      <message xml:lang="ja">ストレージデバイスのベンチマークには認証が必要です</message>
      <message xml:lang="nl">Authenticatie vereist om opslagapparaat te kunnen benchmarken</message>
      <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby przetestować urządzenie pamięci masowej</message>
      <message xml:lang="pt_BR">Autenticação é necessária para fazer benchmark do dispositivo de armazenamento</message>
      <message xml:lang="ru">Требуется авторизация для тестирования накопителя</message>
      <message xml:lang="sk">Na testovanie úložného zariadenia je potrebné overenie</message>
      <message xml:lang="sv">Autentisering krävs för att prestandatesta lagringsenhet</message>
      <message xml:lang="tr">Depolama aygıtını test etmek için kimlik doğrulama gereklidir</message>
      <message xml:lang="uk">Слід пройти розпізнавання для тестування накопичувача</message>
      <message xml:lang="zh_CN">需要验证才能对存储设备进行基准测试</message>
      <message xml:lang="zh_TW">需要驗證才能對儲存裝置進行效能測試</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
   </action>
</policyconfig>
