[Desktop Entry]
Name=KDiskMark
GenericName=KDiskMark
Comment=A storage device benchmark tool

Comment[cs]=Nástroj pro testování úložišť
Comment[de]=Ein Werkzeug für Speichergeräte-Tests
Comment[es_ES]=Una herramienta de diagnóstico para dispositivos de almacenamiento
Comment[es_MX]=Una herramienta de evaluación de almacenamiento
Comment[fi]=Tallennuslaitteiden testaustyökalu
Comment[fr]=Un outil de test des périphériques de stockage
Comment[hi]=एक भंडारण परीक्षण उपकरण
Comment[hu]=Egy tárolóeszköz teljesítménymérő
Comment[it]=Uno strumento di test dispositivi di archiviazione
Comment[ja]=ストレージデバイス性能測定ツール
Comment[nl]=Een hulpmiddel voor opslagprestaties
Comment[pl]=Narzędzie testowania pamięci masowej
Comment[pt_BR]=Uma ferramenta de teste de armazenamento
Comment[ru]=Тест производительности накопителей
Comment[sk]=Nástroj na testovanie úložísk
Comment[sv]=Ett prestandatest för lagringsenheter
Comment[tr]=Bir depolama test aracı
Comment[uk]=Тест швидкодії накопичувачів
Comment[zh_CN]=存储设备测试工具
Comment[zh_TW]=儲存裝置測試工具

Keywords=benchmark;storage;performance;speed;test;
Keywords[cs]=test;úložiště;výkon;rychlost;
Keywords[de]=test;speicher;leistung;geschwindigkeit;
Keywords[es_MX]=prueba;almacenamiento;rendimiento;velocidad;
Keywords[fi]=testi;tallennus;suorituskyky;nopeus;
Keywords[fr]=test;stockage;performance;vitesse;
Keywords[hi]=परीक्षण;भंडारण;प्रदर्शन;गति;
Keywords[hu]=teszt;tároló;teljesítmény;sebesség;
Keywords[it]=test;archiviazione;prestazioni;velocità;
Keywords[ja]=テスト;ストレージ;性能;速度;
Keywords[nl]=test;opslag;prestaties;snelheid;
Keywords[pl]=test;napęd;wydajność;szybkość;
Keywords[pt_BR]=teste;armazenamento;desempenho;velocidade;
Keywords[ru]=тест;накопитель;производительность;скорость;
Keywords[sk]=test;úložisko;výkon;rýchlosť;
Keywords[sv]=test;lagring;prestanda;hastighet;
Keywords[tr]=test;depolama;performans;hız;
Keywords[uk]=тест;накопичувач;швидкодія;швидкість;
Keywords[zh_CN]=测试;存储;性能;速度;
Keywords[zh_TW]=測試;儲存;效能;速度;

Exec=kdiskmark
Icon=kdiskmark
Terminal=false
StartupNotify=false
Type=Application
Categories=System;
